.monthSelector{

    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url('/graf3.jpeg');
    filter: grayscale(50%);

    z-index: 0;
}

.monthSelector::after{
    width: 100%;
    height: 100%;

    position: absolute;
    content: '';
    top: 0;
    left: 0;

    background-color: black;
    opacity: 0.9;
    z-index: -1;
}

.monthSelector > h1{
    font-size: 2.5rem;
}

.selector{

    font-size: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    
    font-family: 'Montserrat';
    font-weight: 400;

    height: 100%;
    padding: 0px 20px;

}

.cc{
    padding-top: 2lh;
    display: flex;
    height: 80vh;
}

.calendarCont{
    height: 80vh;
}

.calendar{
    border-collapse: collapse;
    font-family: 'Montserrat';
    width: 100%;
    height: inherit;

    background-image: url('/graf7.jpeg');
    background-size: cover;
}

.calendar > thead > tr > th{
    border: 2px solid rgb(15, 15, 15);
    padding: 10px 0px;
    background-color: var(--black);
}

.calendar > tbody > tr > td{
    
    width: 100vw;
    font-weight: 600;
    border: 2px solid rgb(15, 15, 15);
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.93);
    backdrop-filter: grayscale(75%);

}

.calendar > tbody > tr > td:hover{

    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 10px black;
    backdrop-filter: grayscale(0%);

}

.calendar > tbody > tr > td > div{

    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 30px 0px;
    
    position: relative;
}

.calendar > tbody > tr > td > div > .date{
    
    width: 100%;
    height: 100%;
    font-size: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calendar > tbody > tr > td > div > .socs{

    position: absolute;
    display: flex;

    bottom: 5px;
    left: 5px;
    
}

.calendar > tbody > tr > td > div > .socs > .soc:nth-of-type(1){

    height: 20px;
    width: 20px;

    background-size: contain;
    background-position: center;
    background-color: rgb(0, 174, 255);
    border: 2px solid rgb(0, 109, 160);
    border-radius: 100px;

}

.calendar > tbody > tr > td > div > .socs > .soc:nth-of-type(2){

    height: 20px;
    width: 20px;

    background-size: contain;
    background-position: center;
    background-color: rgb(255, 208, 0);
    border: 2px solid rgb(161, 151, 0);
    border-radius: 100px;

}

.calendar > tbody > tr > td > div > .socs > .soc:not(:first-child){
    margin-left: -10px;
}

.calendar > tbody > tr > td > div > .count{

    
    position: absolute;
    background-color: rgb(15, 15, 15);
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    font-size: 0.9rem;
    aspect-ratio: 1;

}

.sideInfo{
    height: 92vh;
    overflow-y: scroll;
    transition-duration: 300ms;
    background-color: var(--black2);
    padding: 20px;
}

.sideInfoClose{
    width: 0px;
    visibility: hidden;
}

.sideInfoOpen{
    width: 30%;
    min-width: 30%;
    opacity: 1;
}

.sideInfo > .eventList{

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.sideMenuEvent{

    position: relative;
    width: 100%;

    padding: 10px 10px;
    display: flex;
    align-items: center;

    /* background-image: url('/graf5.jpeg'); */
    background-size: cover;

    z-index: 0;
    
}

.sideMenuEvent::after{
    
    position: absolute;
    content: '';
    
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;

    background-color: black;
    z-index: -1;
    
    opacity: 0.8;
    transition-duration: 200ms;
    
}

.sideMenuEvent:hover::after{
    opacity: 0.5;
}

.sideMenuEvent > div:nth-of-type(1){
    margin-right: 10px;
    width: 15%;
}

.sideMenuEvent > div:nth-of-type(1) > h1{
    font-size: 3rem;
}

.sideMenuEvent > div:nth-of-type(2){
    flex-grow: 1;
}

.sideMenuEvent > div:nth-of-type(2) > p{
    font-size: 0.9rem;
}