.hero{

    font-family: 'Montserrat';
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/graf1.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--white);;

    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    
}

.heroVideo{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 7vw);

    z-index: -1;

}

.hero::after{

    position: absolute;
    top: 0;
    left: 0;
    content: '';

    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;

}

.hero > h1{
    font-size: 3.5rem;
}

.buttonGroup{
    display: flex;
    gap: 10px;

    margin-top: 1lh;
}